<!DOCTYPE html>
<html>
    <head>
        <title> <%= title %> </title>
        <linK rel="stylesheet" href="/css/home.css"> 
    </head>


    <body>
        
    <h2> TODO LIST APP </h2>
    <form action="/create-task" method="post" >
        <input type="text" name="description" placeholder="Enter The Task:" required>
        <select name="category" id="category">
            <option value="n/a"> Choose a category </option>
            <option value="personal">Personal</option>
            <option value="work">Work</option>
            <option value="school">School</option>
            <option value="cleaning">Cleaning</option>
            <option value="other">Other</option>
        </select>
        <input type="date"  name="date" required>
        <button type="submit" id="button"> ADD </button>
    </form>


    <% for(let i of task_list){ %>

<li>
    <div>
        <p> <%= i.description %> </p>
        <p> <%= i.category %> </p>
        <p> <%= i.date %> </p>
        <a href="/delete-task/?id=<%= i._id %>"> <p> Delete  </p>  </a>
    </div>
</li>

        <% } %>


        <script type="text/javascript" src="js/home.js"></script> 
    </body>
</html>